[init]
	defaultBranch = main

[core]
	editor = nvim
	autocrlf = input
	excludesFile = ~/.gitignore_global
	ignoreCase = false

[color]
	ui = true

[format]
	pretty = "%C(yellow)%h%Creset %C(auto)%d%Creset %s %C(dim)%cr%Creset"

[push]
	autoSetupRemote = true

[diff]
	algorithm = histogram

[merge]
	conflictstyle = zdiff3

[pull]
	rebase = true

[commit]
	gpgSign = true

[rerere]
    enabled = true

[gpg]
	format = ssh

[alias]
	squash = "!squash() { git rebase -i HEAD~$1; }; squash"

# Include private config
[include]
	path = ~/.gitconfig.local
