[init]
	defaultBranch = main

[core]
	editor = nvim
	autocrlf = input
	excludesFile = ~/.gitignore_global

[color]
	ui = true

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[commit]
	gpgSign = true

[gpg]
	format = ssh

[alias]
	squash = "!squash() { git rebase -i HEAD~$1; }; squash"

# Include private config
[include]
	path = ~/.gitconfig.local
